*.*.backup
*.*~
*.tar.gz
*.pyc
*.pyo
*.log
*.swp
*.sqlite3
*.db
cumboto-interfaz/cumboto_Front-End/cumboto/database_config.py
cumboto-interfaz/cumboto_Front-End/biblioteca/migrations
cumboto-interfaz/cumboto_Front-End/servicio/migrations
cumboto-capa-enlace/API-REST_Back-end/capa/migrations
cumboto-capa-enlace/API-REST_Back-end/db.sqlite3
cumboto-interfaz/cumboto_Front-End/tmp/
settings.py