{% extends 'base.html' %}

{% block content %}
<div class="">
    <div class="page-title">
       <div class="title_left">
          <h3>Gestión de Transmisión de Aplicaciones Interactivas para la TDA</h3>
       </div>
    </div>

   <div class="">
     <div class="x_panel">
       <div class="x_content">
        <div class="bs-example" data-example-id="simple-jumbotron">
          <div class="jumbotron">
                <h1>Cumboto</h1>
                 <p>Flujo de Transporte para Datos en Televisión Digital Abierta</p>
          </div>
        </div>
       </div>
     </div>
   </div>
</div>
{% endblock %}
