{% extends "base.template.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-title">
    <div class="title_left">
        <h3>
            Gestión de Transmisión de Aplicaciones Interactivas para la TDA
        </h3>
    </div>
</div>
     <div class="x_panel">
           <div class="row">
              <br>
              <div class="col-md-4">
                   <img class="img-reponsive" src="{% static 'img/logocumboto.png' %}" align="left">
              </div>
              <div class="col-md-8"></div>
           </div><br>
           <div class="row">
               <div class="col-xs-3"></div>
               <div class="col-xs-6">

                <h1 align="center">
                   Configurar Servicio Emergente
                </h1><hr>
                <h4>
                    Configurar servicios emergentes en transmision
                </h4>
               <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off" id="myServ">
                    {% csrf_token %}
                        <td>
                            {{ form.servicio }}
                        </td>
                        <br/>
                        <table id="servicios" class="table table-striped table-bordered" cellspacing="0" width="100%" style="text-align: center;">
                            <thead>
                            <tr>
                                <th style="text-align: center">Ranura</th>
                                <th style="text-align: center">Aplicación</th>
                                <th style="text-align: center">Modalidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% block form_inputs %}
                                <td>{{ form.ranura }}</td>
                                <td>{{ form.codigo_app }}</td>
                                <td>{{ form.modalidad }}</td>
                            </tr>
                            {% endblock %}
                            </tbody>
                        </table>
                        <div class="form-group">
                                <input type="button" class="btn btn-default" name="consulta" id="consulta" value="Consultar" title="Consultar servicio" onclick="">
                                <input type="button" class="btn btn-default" name="actualizar" id="actualizar" value="Actualizar" title="Actualizar servicio" onclick="">
                        </div>
                </form>
            </div>
          <!-- Arreglo para visualizar complementamente fondo, buscar mejor solucion -->
          <br><br><br><br><br>
          <br><br><br><br><br>
    </div>
{% endblock %}
