{% extends 'base.template.html' %}
{% load staticfiles %}
{% block content %}
<div class="x_panel">
			<div class="row">
           		<br>
           		<div class="col-md-4">
                   <img class="img-reponsive" src="{% static 'img/logocumboto.png' %}" align="left">
             	</div>
             	<div class="col-md-8"></div>
           </div>
           <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
           <section class="login_content">
				<form method="post" action="">
					{% csrf_token %}
           <h1>Editar contraseña</h1>
					{{ form.as_p }}
					<button class="btn btn-default" type="submit">Actualizar contraseña</button>
				</form>
			</section>
			</div>
			<div class="col-md-3"></div>
		   </div>
		   <br><br><br>
		   <br><br><br>
		   <br><br><br>
		   <br>
</div>
{% endblock content %}