{% extends 'base.template.html' %}
{% load staticfiles %}
{% block content %}
<div class="x_panel">
  <div class="row">
    <br>
    <div class="col-md-4">
      <img class="img-reponsive" src="{% static 'img/logocumboto.png' %}" align="left">
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <section class="login_content">
        <h1>Bitácora de eventos</h1>
        <table border="1px" id="bitacora_table" class="display" width="90%" cellspacing="0">
          <thead>
            <tr>
              <th>N</th>
              <th>Usuario</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Fecha y hora</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>N</th>
              <th>Usuario</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Fecha y hora</th>
            </tr>
          </tfoot>
          <tbody>
            {% for x in object_list %}
            <tr>
              <td></td>
              <td>{{ x.usuario }}</td>
              {% if x.tipo == "Acceso" %}
                <td class="td_bitacora_acceso">Acceso</td>
              {% elif x.tipo == "Actualización" %}
                <td class="td_bitacora_actualizacion">Actualización</td>
              {% endif %}
              <td>{{ x.descripcion }}</td>
              <td>{{ x.fecha_hora }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br>
</div>
{% endblock content %}
