<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
 <body class="login" style="background: url({% static 'img/fondo_cumboto4.png' %}) repeat-y fixed center center; -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            height: 100%;
            width: 100%;
            margin: 0px;
            background-position: center;">
     <div>
{% include 'base.head.template.html' %}
{% load static from staticfiles %}

{% block content %}
<br>
<div class="ln_solid"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
            	<div class="text-left"  >
				      <h3 class="text-center">Revisa tu correo electrónico</h3>
				      <br>
				      <div class="text-justify">
				<h5>Hemos enviado un correo electrónico. Haz clic en el enlace dentro del correo electrónico para restablecer tu contraseña.</h5>

				<h5>Si no ves el correo electrónico en tu bandeja de entrada, revisa otros lugares donde podría estar, como tus carpetas de correo no deseado, sociales u otras.</h5>
				<br>
			</div>
			</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}