<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
{% include 'base.head.template.html' %}
 <body class="login" style="background: url({% static 'img/fondo_cumboto4.png' %}) repeat-y fixed center center; -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            height: 100%;
            width: 100%;
            margin: 0px;
            background-position: center;">



{% block content %}
<br>
<div class="ln_solid"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" action="#" id="form">
                  {% csrf_token %}
                    <fieldset>
                        <legend class="text-center header">Restablecimiento de contraseña</legend>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <div>
                              <label>Ingresa tu correo electrónico:</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                <br>
                                  <div class="item form-group">
                                    <div class="oaerror warning">
                                      <strong>Alerta: </strong>{{ form.email.errors}}
                                    </div>
                                  </div>
                                {% endif %}
                         </div>
                        </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" id="send" class="btn btn-default">Enviar</button>
                                <a href="{% url 'base:inicio' %}" class="btn btn-default" type="submit">Cancelar</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}